## Assignment 2

## scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

Q2 .. #

In [38]:
# Let's import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [39]:
# Let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\avina\Desktop\Web Driver\chromedriver_win32\chromedriver.exe")

In [40]:
url = 'https://www.naukri.com/'
driver.get(url)

In [41]:
# finding web element for search job using id
search_job = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job

# write on search bar
search_job.send_keys('Data Scientist')

In [12]:
## /html/body/div/div[2]/div[3]/div/div/div[6]

In [ ]:
# /html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input

In [42]:
# finding web element for search location bar using abssolute xpath
search_locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')

In [43]:
# finding web element for job location bar
search_locn.send_keys('Bangalore')

In [23]:
#search_locn.click()

In [44]:
# clicking using absolute xpath function
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')

In [45]:
search_btn.click()

## Now let's first create 4 empty lists. In these lists the data will be stored while scrapping

## Extracting job titles

In [46]:
# Let's extract all web elements having job titles
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [47]:
# Now the text of job title is oinside the web elements extracted above
# so we will run a for loops to iterate over the tags and will extract text from title tags

job_titles = []

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
#job_titles[0:2]

20

## Extracting comapny Name

In [48]:
# Let's extract all web elements having company name
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [49]:
# Geeting the company name

company_titles = []

for i in company_tags:
    company_titles.append(i.text)
len(company_titles)
#company_titles[0:2]

20

## Extracting experience

In [50]:
## Let's extract all elements having experience using parent tag
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [51]:
experience = []

for i in exp_tags:
    experience.append(i.text)
len(experience)
#experience[0:2]

20

## Extracting location

In [52]:
locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [53]:
location = []
for i in locn_tags:
    location.append(i.text)
len(location)
##location[0:2]

20

In [54]:
len(job_titles),len(company_titles),len(experience),len(location)

(20, 20, 20, 20)

In [55]:
## getting the first 10 elements

jobs = pd.DataFrame()

jobs['Job title'] = job_titles[0:10]
jobs['Company']   = company_titles[0:10]
jobs['Experience'] = experience[0:10]
jobs['Location']   = location[0:10]

jobs

,Job title,Company,Experience,Location
0,Data Scientist: Advanced Analytics,IBM,5-10 Yrs,Bangalore/Bengaluru
1,Data Scientist: Advanced Analytics,IBM,5-7 Yrs,Bengaluru/Bangalore
2,Sr . Data Scientist,Harman Connected Services Corporation India Pvt.,8-10 Yrs,Bangalore/Bengaluru
3,Senior Data Scientist,Slice,3-7 Yrs,Bangalore/Bengaluru
4,Sr Data Scientist,Siemens,0-6 Yrs,Bangalore/Bengaluru
5,Senior Data Scientist,Dell,5-8 Yrs,Bangalore/Bengaluru
6,Senior Data Scientist,Dell,8-12 Yrs,Bangalore/Bengaluru
7,Senior Data Scientist - Python/Machine Learnin...,Altimax Business Solutions,4-9 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Bangalor..."
8,Senior/Lead Data Scientist - (Revenue Management),o9 Solutions Management India Private Limited,4-9 Yrs,Bangalore/Bengaluru
9,Senior/Lead - Data Scientist (Supply Chain),o9 Solutions Management India Private Limited,4-9 Yrs,Bangalore/Bengaluru