In [57]:
# Let's import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')


# Let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\avina\Desktop\Web Driver\chromedriver_win32\chromedriver.exe")

url = 'http://www.flipkart.com'
driver.get(url)

In [58]:
# exiting the pop up

exit_pop_up = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
exit_pop_up.click()

In [59]:
# selecting the search bar and sending keys
search_bar = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_bar.send_keys('sneakers')

In [60]:
# clicking the search btn
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.click()

# Selecting data from Ist page

In [67]:

#selecting the brand Name
Brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')


brand_name = [] # brand name empty list
for i in Brand:
    brand_name.append(i.text)
len(brand_name)

40

In [66]:
len(brand_name)

40

In [70]:
# selecting Brand Description


brand_description = driver.find_elements_by_class_name('IRpwTa')



# Creating a list of description list of brand 
brand_desc = []
for i in range(len(brand_description)):
    brand_desc.append((brand_description[i].get_attribute("title")))
    #brans_desc.append(i.get_attribute("title"))
len(brand_desc)

40

In [71]:
# selecting the Brand Prices
Brand_prices = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')


# creating an empty prices list
brand_prices_list = []

for i in Brand_prices:
    brand_prices_list.append(i.text)
len(brand_prices_list)

40

In [72]:
print(len(brand_name),len(brand_desc),len(brand_prices_list))

40 40 40

In [73]:
# next_link

next_link = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_link.click()

# Selecting the Discription of 2nd page

In [74]:

#selecting the brand Name
Brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')


#brand_name = [] # brand name empty list
for i in Brand:
    brand_name.append(i.text)
len(brand_name)

80

In [75]:
# selecting Brand Description


brand_description = driver.find_elements_by_class_name('IRpwTa')



# Creating a list of description list of brand 
#brand_desc = []
for i in range(len(brand_description)):
    brand_desc.append((brand_description[i].get_attribute("title")))
    #brans_desc.append(i.get_attribute("title"))
len(brand_desc)

80

In [77]:
# selecting the Brand Prices
Brand_prices = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')


# creating an empty prices list
#brand_prices_list = []

for i in Brand_prices:
    brand_prices_list.append(i.text)
len(brand_prices_list)

80

In [78]:
# next_link

next_link = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_link.click()

# selecting the description from 3rd page

In [79]:

#selecting the brand Name
Brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')


#brand_name = [] # brand name empty list
for i in Brand:
    brand_name.append(i.text)
len(brand_name)

120

In [80]:
# selecting Brand Description


brand_description = driver.find_elements_by_class_name('IRpwTa')



# Creating a list of description list of brand 
#brand_desc = []
for i in range(len(brand_description)):
    brand_desc.append((brand_description[i].get_attribute("title")))
    #brans_desc.append(i.get_attribute("title"))
len(brand_desc)

120

In [81]:
# selecting the Brand Prices
Brand_prices = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')


# creating an empty prices list
#brand_prices_list = []

for i in Brand_prices:
    brand_prices_list.append(i.text)
len(brand_prices_list)

119

In [82]:
## getting the first 10 elements

Brands = pd.DataFrame()

Brands['Brands name'] = brand_name[0:100]
Brands['Brand Description']   = brand_desc[0:100]
Brands['Prices'] = brand_prices_list[0:100]


Brands

,Brands name,Brand Description,Prices
0,Echor,Echor Men's Sneakers Fashion Lightweight Runni...,₹474
1,India hub,Luxury Fashionable casual sneaker shoes Sneake...,₹178
2,Magnolia,Sneakers For Men,₹407
3,URBANBOX,Sneakers Sneakers For Men,₹569
4,Labbin,Sneakers For Men,₹299
...,...,...,...
95,Bond Street By Red Tape,Sneakers For Men,"₹1,259"
96,Roadster,Men Grey Solid Mid-Top Sneakers Sneakers For Men,"₹1,699"
97,PUMA,Future Rider Neon Play Sneakers For Men,"₹2,851"
98,Woodage,Casual Shoes Slip On Sneakers For Men Sneakers...,₹474
99,RED TAPE,Classic Sneakers For Men,"₹1,678"