## scrape data analyst job posn in bangalore lotn.
1. job-title
2 job -loctn
3 company-name
4 experience_required
first 10 jobs

In [1]:
# Let's import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\avina\Desktop\Web Driver\chromedriver_win32\chromedriver.exe")

In [3]:
url = 'https://www.naukri.com/'
driver.get(url)

In [4]:
# finding web element for search job using id
search_job = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job

# write on search bar
search_job.send_keys('Data Analyst')

In [5]:
# finding web element for search location bar using abssolute xpath
search_locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')

In [6]:
# finding web element for job location bar
search_locn.send_keys('Bangalore')

In [9]:
# write on search bar

In [10]:
# finding web element for search location bar using abssolute xpath
search_locn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
search_locn

In [11]:
# finding web element for job location bar
search_locn.send_keys('Bangalore')

In [8]:
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')

In [9]:
search_btn.click()

In [13]:
search_btn.click()

## Now let's first create 4 empty lists. In these lists the data will be stored while scrapping

## Extracting job titles

In [10]:
# Let's extract all web elements having job titles
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [11]:
# Now the text of job title is oinside the web elements extracted above
# so we will run a for loops to iterate over the tags and will extract text from title tags

job_titles = []

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
#job_titles[0:2]

20

## Extracting comapny Name

In [12]:
# Let's extract all web elements having company name
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [13]:
# Geeting the company name

company_titles = []

for i in company_tags:
    company_titles.append(i.text)
len(company_titles)
#company_titles[0:2]

20

## Extracting experience

In [14]:
## Let's extract all elements having experience using parent tag
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [15]:
experience = []

for i in exp_tags:
    experience.append(i.text)
len(experience)
#experience[0:2]

20

## Extracting location

In [16]:
locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [17]:
location = []
for i in locn_tags:
    location.append(i.text)
len(location)
##location[0:2]

20

In [18]:
len(job_titles),len(company_titles),len(experience),len(location)

(20, 20, 20, 20)

In [19]:
## getting the first 10 elements

jobs = pd.DataFrame()

jobs['Job title'] = job_titles[0:10]
jobs['Company']   = company_titles[0:10]
jobs['Experience'] = experience[0:10]
jobs['Location']   = location[0:10]

jobs

,Job title,Company,Experience,Location
0,Hiring Data Analyst For Global Logic-Immediate...,GlobalLogic,4-8 Yrs,"Noida, Nagpur, Pune, Gurgaon/Gurugram, Bangalo..."
1,Senior Data Analyst,Flipkart,4-6 Yrs,Bengaluru/Bangalore
2,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,0-3 Yrs,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru..."
3,Assistant Clinical Data Analyst,Labcorp Drug Development India Private Limited,0-2 Yrs,Bangalore/Bengaluru
4,Lead - Data Analyst / Scientist,Axim Technologies,12-14 Yrs,Bangalore/Bengaluru
5,Data Analyst / Sr. Data Analyst,Vmware,3-6 Yrs,Bangalore/Bengaluru
6,Senior Data Analyst - CRM,Gojek Tech,2-5 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst - Supporting Audits,Visa,5-8 Yrs,Bangalore/Bengaluru
8,Research - Data Analyst / Associate,AXL HR Tech,0-2 Yrs,"Mumbai, Delhi / NCR, Bangalore/Bengaluru"
9,SAM Data Analyst,Nokia,1-2 Yrs,"Noida, Mumbai, Bangalore/Bengaluru"