In [5]:
# Let's import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')


# Let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\avina\Desktop\Web Driver\chromedriver_win32\chromedriver.exe")

url = 'http://www.myntra.com/shoes'
driver.get(url)

In [8]:
# setting thr color black
filter_color = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
filter_color.click()

In [9]:
# Setting the price filter

filter_button = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
filter_button
filter_button.click()

## Scarpping the Data from Ist Page

In [10]:
# Product tag from Ist page

Product_tags = driver.find_elements_by_xpath('//h3[@class="product-brand"]')

Product = []  # empty product list
for i in Product_tags:
    Product.append(i.text)
Product

['Street Style Store',
 'Newfeel By Decathlon',
 'U.S. Polo Assn.',
 'HRX by Hrithik Roshan',
 'Mactree',
 'U.S. Polo Assn.',
 'Red Tape',
 'HRX by Hrithik Roshan',
 'HIGHLANDER',
 'HRX by Hrithik Roshan',
 'Anouk',
 'U.S. Polo Assn.',
 'Nike',
 'Woakers',
 'AfroJack',
 'TWIN TOES',
 'MENGLER',
 'HRX by Hrithik Roshan',
 'Alishtezia',
 'HRX by Hrithik Roshan',
 'mr.wonker',
 'Nike',
 'Woodland',
 'ZAPATOZ',
 'ZAPATOZ',
 'U.S. Polo Assn.',
 'Puma',
 'Newfeel By Decathlon',
 'Red Tape',
 'DressBerry',
 'one8 x PUMA',
 'Fentacia',
 'HRX by Hrithik Roshan',
 'El Paso',
 'HRX by Hrithik Roshan',
 'HIGHLANDER',
 'Woodland',
 'Anouk',
 'HRX by Hrithik Roshan',
 'Ducati',
 'AfroJack',
 'Bond Street By Red Tape',
 'Fentacia',
 'Red Tape',
 'Sir Corbett',
 'Campus',
 'Mactree',
 'HRX by Hrithik Roshan',
 'Puma',
 'U.S. Polo Assn.']

In [12]:
# Extracting the Description

Descsription_tags = driver.find_elements_by_xpath('//h4[@class="product-product"]')


Description = [] # empty description list


#Product = []
for i in Descsription_tags:
    Description.append(i.text)
Description
len(Description)

50

In [13]:
# Extracting the Price from the Ist Page

Price_tags = driver.find_elements_by_xpath('//div[@class="product-price"]/span[1]')


Price = []  # creating an empty price list
for i in Price_tags:
    Price.append(i.text)
len(Price)

50

In [14]:
# next Button
Next_btn = driver.find_element_by_xpath('/html/body/div[2]/div/div/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
Next_btn.click()

In [15]:
# Extracting the data from 2nd Page

In [16]:
# Product tag from Ist page

Product_tags = driver.find_elements_by_xpath('//h3[@class="product-brand"]')

#Product = []  # empty product list
for i in Product_tags:
    Product.append(i.text)
Product

['Street Style Store',
 'Newfeel By Decathlon',
 'U.S. Polo Assn.',
 'HRX by Hrithik Roshan',
 'Mactree',
 'U.S. Polo Assn.',
 'Red Tape',
 'HRX by Hrithik Roshan',
 'HIGHLANDER',
 'HRX by Hrithik Roshan',
 'Anouk',
 'U.S. Polo Assn.',
 'Nike',
 'Woakers',
 'AfroJack',
 'TWIN TOES',
 'MENGLER',
 'HRX by Hrithik Roshan',
 'Alishtezia',
 'HRX by Hrithik Roshan',
 'mr.wonker',
 'Nike',
 'Woodland',
 'ZAPATOZ',
 'ZAPATOZ',
 'U.S. Polo Assn.',
 'Puma',
 'Newfeel By Decathlon',
 'Red Tape',
 'DressBerry',
 'one8 x PUMA',
 'Fentacia',
 'HRX by Hrithik Roshan',
 'El Paso',
 'HRX by Hrithik Roshan',
 'HIGHLANDER',
 'Woodland',
 'Anouk',
 'HRX by Hrithik Roshan',
 'Ducati',
 'AfroJack',
 'Bond Street By Red Tape',
 'Fentacia',
 'Red Tape',
 'Sir Corbett',
 'Campus',
 'Mactree',
 'HRX by Hrithik Roshan',
 'Puma',
 'U.S. Polo Assn.',
 'U.S. Polo Assn.',
 'U.S. Polo Assn.',
 'Kalenji By Decathlon',
 'HRX by Hrithik Roshan',
 'SUBEA By Decathlon',
 'Anouk',
 'Fentacia',
 'Red Tape',
 'HRX by Hrithik Roshan',
 'one8 x PUMA',
 'U.S. Polo Assn.',
 'DEAS',
 'Puma',
 'HRX by Hrithik Roshan',
 'Vishudh',
 'El Paso',
 'TWIN TOES',
 'Puma',
 'Eego Italy',
 'U.S. Polo Assn.',
 'AfroJack',
 'HIGHLANDER',
 'Red Tape',
 'AfroJack',
 'DressBerry',
 'HIGHLANDER',
 'Mactree',
 'House of Pataudi',
 'U.S. Polo Assn.',
 'Mactree',
 'Puma',
 'Puma',
 'HRX by Hrithik Roshan',
 'Quechua By Decathlon',
 'Red Tape',
 'Red Tape',
 'Ducati',
 'Fentacia',
 'Mactree',
 'Campus',
 'Provogue',
 'El Paso',
 'HRX by Hrithik Roshan',
 'U.S. Polo Assn.',
 'AfroJack',
 'El Paso',
 'Nike',
 'Roadster',
 'Puma',
 'HIGHLANDER']

In [17]:
# Extracting the Description

Descsription_tags = driver.find_elements_by_xpath('//h4[@class="product-product"]')


#Description = [] # empty description list


#Product = []
for i in Descsription_tags:
    Description.append(i.text)
Description
len(Description)

100

In [18]:
# Extracting the Price from the Ist Page

Price_tags = driver.find_elements_by_xpath('//div[@class="product-price"]/span[1]')


#Price = []  # creating an empty price list
for i in Price_tags:
    Price.append(i.text)
len(Price)

100

In [19]:
import re
# for regular expression
Clean_price = []
for i in Price:
    Clean_price.append(re.match(r"(.*?Rs.*?\d+)", i).group())
Clean_price

#len(Clean_price)

['Rs. 1199',
 'Rs. 899',
 'Rs. 1999',
 'Rs. 1959',
 'Rs. 898',
 'Rs. 1649',
 'Rs. 1224',
 'Rs. 1959',
 'Rs. 796',
 'Rs. 1999',
 'Rs. 1399',
 'Rs. 2199',
 'Rs. 9295',
 'Rs. 681',
 'Rs. 749',
 'Rs. 799',
 'Rs. 699',
 'Rs. 1959',
 'Rs. 815',
 'Rs. 2049',
 'Rs. 739',
 'Rs. 9295',
 'Rs. 3395',
 'Rs. 815',
 'Rs. 689',
 'Rs. 2199',
 'Rs. 1999',
 'Rs. 899',
 'Rs. 1749',
 'Rs. 1999',
 'Rs. 2149',
 'Rs. 809',
 'Rs. 1919',
 'Rs. 1082',
 'Rs. 1839',
 'Rs. 796',
 'Rs. 2446',
 'Rs. 1399',
 'Rs. 1719',
 'Rs. 2119',
 'Rs. 799',
 'Rs. 974',
 'Rs. 1199',
 'Rs. 1699',
 'Rs. 974',
 'Rs. 1529',
 'Rs. 898',
 'Rs. 1759',
 'Rs. 1799',
 'Rs. 2199',
 'Rs. 2199',
 'Rs. 1979',
 'Rs. 1563',
 'Rs. 1919',
 'Rs. 664',
 'Rs. 1499',
 'Rs. 999',
 'Rs. 1499',
 'Rs. 1719',
 'Rs. 1574',
 'Rs. 1649',
 'Rs. 579',
 'Rs. 4999',
 'Rs. 1504',
 'Rs. 1299',
 'Rs. 1044',
 'Rs. 599',
 'Rs. 1999',
 'Rs. 999',
 'Rs. 1869',
 'Rs. 749',
 'Rs. 796',
 'Rs. 1649',
 'Rs. 799',
 'Rs. 949',
 'Rs. 796',
 'Rs. 744',
 'Rs. 1649',
 'Rs. 1649',
 'Rs. 898',
 'Rs. 1799',
 'Rs. 1999',
 'Rs. 2239',
 'Rs. 3134',
 'Rs. 1574',
 'Rs. 1274',
 'Rs. 2119',
 'Rs. 854',
 'Rs. 1098',
 'Rs. 996',
 'Rs. 806',
 'Rs. 863',
 'Rs. 2399',
 'Rs. 1559',
 'Rs. 799',
 'Rs. 1234',
 'Rs. 4995',
 'Rs. 1754',
 'Rs. 1934',
 'Rs. 796']

In [20]:
# Creating a dataframe 

## getting the first 100 elements

Brands = pd.DataFrame()

Brands['Brands name'] = Product
Brands['Brand Description']   = Description
Brands['Prices'] = Clean_price


Brands

              Brands name                Brand Description    Prices
0      Street Style Store  Women Suede High-Top Flat Boots  Rs. 1199
1    Newfeel By Decathlon                Men Walking Shoes   Rs. 899
2         U.S. Polo Assn.                Men Walking Shoes  Rs. 1999
3   HRX by Hrithik Roshan   Men FlexStreet Athleisure Shoe  Rs. 1959
4                 Mactree                Men Suede Loafers   Rs. 898
..                    ...                              ...       ...
95                El Paso        Women High-Top Flat Boots  Rs. 1234
96                   Nike    Men Court Lite 2 Tennis Shoes  Rs. 4995
97               Roadster                   Women Sneakers  Rs. 1754
98                   Puma       Men Colourblocked Sneakers  Rs. 1934
99             HIGHLANDER                     Men Sneakers   Rs. 796

[100 rows x 3 columns]