In [27]:
# Let's import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')


# Let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\avina\Desktop\Web Driver\chromedriver_win32\chromedriver.exe")

url = 'https://www.ambitionbox.com/'
driver.get(url)

In [31]:
# selecting the job section
jobs_link = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
jobs_link.click()

In [32]:
# selecting the input and sending keys
search_input = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search_input.send_keys('Data Scientist')

In [33]:
# clicking the search button
search_btn = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button')
search_btn.click()

In [34]:
# selecting the location
location_input = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
location_input.click()

In [35]:
# searching location and sending noida
search_location = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_location.send_keys('Noida')

In [36]:
# selecting the desired location which is noida
selecting_location = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
selecting_location.click()

In [37]:
# selecting the description from Ist page
#p
company_tags = driver.find_elements_by_xpath('//p[@class="company body-medium"]')

company_name = [] # and storing it into empty list

for i in company_tags:
        company_name.append(i.get_attribute("title"))
#aria_label = stars_list.find_element_by_css_selector('span').get_attribute("aria-label")
#aria_label
company_name

['HCL',
 'Jubilant Foodworks Limited',
 'Ameriprise Financial',
 'Paytm',
 'CHT Sapiense',
 'CHT Sapiense',
 'GI Group',
 'GI Group',
 'GI Group',
 'Cargoflash']

In [ ]:
# selecting no.of days ad was posted

days_ago = driver.find_elements_by_xpath(('//span[@class="body-small-l"]'))
len(days_ago)

In [40]:
#body-small-l
days_ago = driver.find_elements_by_xpath(('//span[@class="body-small-l"]'))

temp_days_ago = [] # tempary list for holding data
for i in range(len(days_ago)):
    temp_days_ago.append((days_ago[i]).text)
    #print(x.text)
temp_days_ago

['2d ago',
 'via hirist.com',
 '2d ago',
 'via naukri.com',
 '4d ago',
 'via naukri.com',
 '10d ago',
 'via naukri.com',
 '11d ago',
 'via iimjobs.com',
 '12d ago',
 'via iimjobs.com',
 '23d ago',
 'via iimjobs.com',
 '23d ago',
 'via iimjobs.com',
 '23d ago',
 'via iimjobs.com',
 '1d ago',
 'via hirist.com']

In [41]:
cleaned_days = temp_days_ago[::2]

In [42]:
cleaned_days

['2d ago',
 '2d ago',
 '4d ago',
 '10d ago',
 '11d ago',
 '12d ago',
 '23d ago',
 '23d ago',
 '23d ago',
 '1d ago']

In [43]:
# Getting the rating
rating = driver.find_elements_by_xpath(('//div[@class="rating-wrapper"]/a/span'))

rating_temp = []
for i in range(len(rating)):
    rating_temp.append((rating[i]).text)
rating_temp

['3.8', '3.8', '3.9', '4.0', '3.7', '3.8', '3.8', '4.1', '4.1', '4.1', '3.8']

In [44]:
cleaned_rating = rating_temp[1::]

In [45]:
## getting the first 10 elements

jobs = pd.DataFrame()

#jobs['Job title'] = job_titles[0:10]
jobs['Company']   = company_name
jobs['No_of_Days_ago'] = cleaned_days
jobs['Rating']   = cleaned_rating

jobs

                      Company No_of_Days_ago Rating
0                         HCL         2d ago    3.8
1  Jubilant Foodworks Limited         2d ago    3.9
2        Ameriprise Financial         4d ago    4.0
3                       Paytm        10d ago    3.7
4                CHT Sapiense        11d ago    3.8
5                CHT Sapiense        12d ago    3.8
6                    GI Group        23d ago    4.1
7                    GI Group        23d ago    4.1
8                    GI Group        23d ago    4.1
9                  Cargoflash         1d ago    3.8