Q4. Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes
1. Brand
2. Product Description
3. Price

In [35]:
# Let's import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Let's import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

Q3. scrape data for “Data Scientist” designation for first 10 job results

In [36]:
# Let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\avina\Desktop\Web Driver\chromedriver_win32\chromedriver.exe")

In [37]:
url = 'https://www.naukri.com/'
driver.get(url)

In [38]:
# finding web element for search job using id
search_job = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job

# write on search bar
search_job.send_keys('Data Scientist')

# finding web element for search job using id
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

# write on search bar
search_job.send_keys('Data Scientist')

In [39]:
# clicking using absolute xpath function
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')

In [40]:
search_btn.click()

In [63]:
## Aplying Location filter

In [41]:
location_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p/span[1]')

In [42]:
location_check.click()

In [43]:
##salary_check =
salary_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')

In [44]:
salary_check.click()

## Now let's first create 4 empty lists. In these lists the data will be stored while scrapping

## Extracting job titles

In [45]:
# Let's extract all web elements having job titles
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [46]:
# Now the text of job title is oinside the web elements extracted above
# so we will run a for loops to iterate over the tags and will extract text from title tags

job_titles = []

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
#job_titles[0:2]

20

## Extracting comapny Name

In [47]:
# Let's extract all web elements having company name
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [20]:
# Geeting the company name

company_titles = []

for i in company_tags:
    company_titles.append(i.text)
len(company_titles)
#company_titles[0:2]

20

## Extracting experience

In [21]:
## Let's extract all elements having experience using parent tag
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [22]:
experience = []

for i in exp_tags:
    experience.append(i.text)
len(experience)
#experience[0:2]

20

## Extracting location

In [23]:
locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [24]:
location = []
for i in locn_tags:
    location.append(i.text)
len(location)
##location[0:2]

20

In [25]:
len(job_titles),len(company_titles),len(experience),len(location)

(20, 20, 20, 20)

In [26]:
## getting the first 10 elements

jobs = pd.DataFrame()

jobs['Job title'] = job_titles[0:10]
jobs['Company']   = company_titles[0:10]
jobs['Experience'] = experience[0:10]
jobs['Location']   = location[0:10]

jobs

,Job title,Company,Experience,Location
0,Data Scientist / Senior DS/ Team Lead,NebulARC Technologies Private Limited,0-4 Yrs,"Mumbai, Gurgaon/Gurugram(Cyber City +1)"
1,Job Opportunity || Data Scientist || HCL Techn...,HCL,2-6 Yrs,Delhi / NCR
2,Hiring For Data Analyst / Data Scientist,Careerera,2-5 Yrs,Noida(Sector-59 Noida)
3,Senior Data Scientist I,Delhivery,3-7 Yrs,Gurgaon/Gurugram
4,Data Scientist,Core Diagnostics Private Limited,2-7 Yrs,Gurgaon/Gurugram(Uday Nagar)
5,Data Scientist | Python | Machine Learning | D...,Schlesinger Group,0-3 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
6,Openings For Jr/mid/Sr level data Scientists,Pluto seven business solutions (p) limited,2-6 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
7,Data Scientist,T & A Solutions,2-6 Yrs,Gurgaon/Gurugram
8,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,1-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
9,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,1-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"